
.positivo-container {
  border: 2px solid green;
  box-shadow: 0px 0px 10px green;
}

.negativo-container {
  border: 2px solid red;
  box-shadow: 0px 0px 10px red;

}

.positivo {
  color: green;
  font-size: 1.5rem;
  
}

.negativo {
  color: red;
  font-size: 1.5rem;

}

  