/* element.style {
    height: 192px;
    background-color: #2C85C8;
}

:root {
     --color-neutral-light-00: #2C85C8;
}

.amor .po-font-title{
    background-color: #2C85C8;
}
.amor .p-no-border{
    background-color: #2C85C8;
}
.amor .po-container{
    background-color: #2C85C8;

}
.amor {
    background-color: #2C85C8;

}
.teste{
    background-color: #2C85C8; 
} */