<div class="p-container p-4">
  <div class="p-row">
    <po-datepicker class="po-md-2" name="minDate" [(ngModel)]="minDate" p-clean p-label="Data" [p-max-date]="maxDate"
      [p-format]="format" (ngModelChange)="onDateChange($event)" (p-change)="changeDate($event)"
      [(ngModel)]="startDate">
    </po-datepicker>
    <po-multiselect class="po-md-2" name="custo" p-label="Centro de Custo" [p-options]="selectCusto" [(ngModel)]="custo"
      (ngModelChange)="onCustoChange($event)" (p-change)="changeCusto($event)" [p-filter-mode]="filterMode"
      [p-hide-select-all]="true">
    </po-multiselect>
    <po-multiselect class="po-md-2" name="codDir" p-label="Cod. Dir" [p-options]="selectDiretores" [(ngModel)]="codDir"
      (ngModelChange)="onDiretorChange($event)" (p-change)="changeDiretor($event)" [p-filter-mode]="filterMode"
      [p-hide-select-all]="true">
    </po-multiselect>
    <po-multiselect class="po-md-2" name="codArea" p-label="Cod.Area" [p-options]="selectAreas" [(ngModel)]="codArea"
      (ngModelChange)="onAreaChange($event)" (p-change)="changeArea($event)" [p-hide-select-all]="true">
    </po-multiselect>
    <po-multiselect class="po-md-2 " name="codDep" p-label="Cod.Dep" [p-options]="selectDepartamentos"
      [(ngModel)]="codDep" (ngModelChange)="onDptoChange($event)" (p-change)="changeDpto($event)"
      [p-hide-select-all]="true">
    </po-multiselect>
    <po-multiselect class="po-md-2 " name="codFun" p-label="Cod.Fun" [p-options]="selectFuncao" [(ngModel)]="codFunc"
      (ngModelChange)="onFuncaoChange($event)" (p-change)="changeFuncao($event)" [p-hide-select-all]="true">
    </po-multiselect>
  </div>
</div>
<div class="po-row">
  <div class="po-md-12 po-lg-12">
    <po-container class="po-lg-4 po-mt-2">
      <po-table [p-height]="400" p-container="shadow" [p-hide-columns-manager]="true" [p-items]="diretores"></po-table>
    </po-container>
    <po-container class="po-lg-4 po-mt-2">
      <po-table [p-height]="400" p-container="shadow" [p-hide-columns-manager]="true" [p-items]="areas"></po-table>
    </po-container>
    <po-container class="po-lg-4 po-mt-2">
      <po-table [p-height]="400" p-container="shadow" [p-hide-columns-manager]="true"
        [p-items]="departamentos"></po-table>
    </po-container>
  </div>
</div>
<div class="po-row">
  <div class="po-md-12 po-lg-12">
    <po-container class="po-lg-12 po-mt-2">
      <po-table [p-height]="200" p-container="shadow" [p-hide-columns-manager]="true"
        [p-items]="funcionarios"></po-table>
    </po-container>
  </div>
</div>