ol,
ul {
     padding-left: 0rem;
}

:root {
     --color-brand-01-lighter: #cfd8dd;
     --background-color-pressed: transparent;
     --background-color-actived: transparent;
     --color-brand-01-light: transparent;
     --color-brand-01-lightest: transparent;
     --color-action-pressed: #045b8f;
     --color-brand-01-darkest: #505f69;
     --color-brand-01-dark: #045b8f;
     --color-current-page: #238ac7;
     --color-action-default: #045b8f;
     --spacing-md: 0rem;
     /* --spacing-xs: 0.3rem; */
}

.po-menu,
.po-menu-item,
.po-menu-collapse-button-icon {
     color: #045b8f;
}

.po-menu-mobile {
     color: #045b8f;

}

.po-breadcrumb-item-activate {
     color: var(--color-current-page);
     white-space: nowrap;
     font-weight: bold;
     color: #507085;
}

.po-breadcrumb-items {
     display: inline;
     list-style: none;
     margin-left: 20px;
}

.p-4 {
     padding: 0.3rem !important;
}

.responsive-img {
     max-width: 100%;
     /* A imagem não ficará maior que o tamanho da div */
     height: 100px;
     /* Mantém a proporção original da imagem */
     display: block;
     /* Remove espaços indesejados ao redor da imagem */
     margin: 0 auto;
     /* Centraliza a imagem dentro da div */
}